<h2 mat-dialog-title>{{"CONSULTING.UPDATE" | translate}}</h2>

<mat-dialog-content [formGroup]="form">

    <mat-form-field>
      <mat-label>{{"CONSULTING.SELECT" | translate}}</mat-label>
      <mat-select formControlName="consultingLevel">
        <mat-option *ngFor="let level of consultingLevels" [value]="level">
          {{level.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">{{"SKILL.CLOSE"| translate}}</button>
    <button class="mat-raised-button mat-primary"(click)="save()">{{"SKILL.SAVE"| translate}}</button>
</mat-dialog-actions>
