<ng-template [ngIf]="registrationRequests.length" [ngIfElse]="noRegistrations">
  <table
    mat-table
    class="registration-req-table mat-elevation-z8"
    [dataSource]="registrationRequests"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let regReq">
        {{ regReq.hashedEmail }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{"SUPER_TABLE.NAME"| translate}}</th>
      <td mat-cell *matCellDef="let regReq">
        {{ regReq.lastName }} {{ regReq.firstName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let regReq">{{ regReq.email }}</td>
    </ng-container>

    <ng-container matColumnDef="approvedeny">
      <th mat-header-cell *matHeaderCellDef>{{"SUPER_TABLE.APPROVE"| translate}}/ {{"SUPER_TABLE.DENY"| translate}}
       </th>
      <td mat-cell *matCellDef="let regReq">
        <button
          mat-raised-button
          color="primary"
          (click)="approveRegistrationRequest(regReq.hashedEmail)"
        >
          {{"SUPER_TABLE.APPROVE"| translate}}
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="rejectRegistrationRequest(regReq.hashedEmail)"
        >
          {{"SUPER_TABLE.DENY"| translate}}
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-template>

<ng-template #noRegistrations>
  No new account registration requests
</ng-template>
