<div class="container">
    <h1>Playground</h1>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h1>Default</h1>
            <app-user-projects-table [diffMode]="false" [editMode] = "false"></app-user-projects-table>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h1>Diff Mode</h1>
            <app-user-projects-table [diffMode]="true" [editMode] = "false"></app-user-projects-table>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h1>Edit mode</h1>
            <app-user-projects-table [diffMode]="false" [editMode] = "true"></app-user-projects-table>
        </div>
    </div>
    <br>

    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <app-levels-dropdown></app-levels-dropdown>
        </div>
    </div>
</div>
