<h2 mat-dialog-title>Update region</h2>

<mat-dialog-content [formGroup]="form">

    <mat-form-field>
      <mat-label>Select region</mat-label>
      <mat-select formControlName="region">
        <mat-option *ngFor="let region of regions" [value]="region">
          {{region.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>