<ng-template [ngIf]="supervisedEmployees.length" [ngIfElse]="noRegistrations">
  <table
    mat-table
    class="registration-req-table mat-elevation-z8"
    [dataSource]="supervisedEmployees"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let regReq">
        {{ regReq.hashedEmail }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{"SUPER_TABLE.NAME"| translate}}</th>
      <td mat-cell *matCellDef="let employee">
        {{ employee.lastName }} {{ employee.firstName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let regReq">{{ regReq.email }}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-template>

<ng-template #noRegistrations>
  No new account registration requests
</ng-template>
