
<div style = "position:fixed; left:1340px; top:700px; bottom: 0" >
  <label >
    {{ 'HOME.SELECT' | translate }}
    <select #langSelect (change)="translate.use(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>
  </label>

</div>


<div id="main-viewport">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span id="logo" [routerLink]="['/']">Business Management</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div id="content-area">
            <router-outlet></router-outlet>
    </div>

</div>

