<div id="main-viewport">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span id="logo" class="toolbar">
                <button mat-button [matMenuTriggerFor]="menu" class="logo-menu">BusinessManagement</button>
                <mat-menu #menu="matMenu">
                <button *ngIf="checkLogin()" routerLink="/profile" mat-menu-item>{{"MENU.PROFILE"| translate}}</button>
                <button *ngIf="checkLogin() && supervisorRoleCheck()" routerLink="/dashboard" mat-menu-item>{{"MENU.ADMIN"| translate}}</button>
                <button *ngIf="checkLogin()" (click) = "logout()" routerLink mat-menu-item>{{"MENU.LOGOUT"| translate}}</button>
                </mat-menu>
            </span>
          <mat-radio-button checked class="radio" color="accent" (click)="useLanguage('en')" >en </mat-radio-button>
          <mat-radio-button  class="radio" color="accent" (click)="useLanguage('ro')" > ro</mat-radio-button>
          <mat-radio-button class="radio" color="accent" (click)="useLanguage('de')" > de</mat-radio-button>
        </mat-toolbar-row>


    </mat-toolbar>
    <div id="content-area">
    <router-outlet>
    </router-outlet>
    </div>

</div>

