<div id="main-viewport">
    <!-- <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span id="logo" [routerLink]="['/']" class="toolbar">Business Management</span>
          <mat-radio-button checked class="radio" (click)="useLanguage('en')" >en </mat-radio-button>
          <mat-radio-button  class="radio" (click)="useLanguage('ro')" > ro</mat-radio-button>
          <mat-radio-button class="radio" (click)="useLanguage('de')" > de</mat-radio-button>
      </mat-toolbar-row>


    </mat-toolbar> -->
    <!-- <div id="content-area"> -->
    <router-outlet>
    </router-outlet>
    <!-- </div> -->

</div>

