<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>No this is not my dog</mat-card-title>
    <mat-card-subtitle>But still a good boy</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Fusce egestas eros vel ipsum tempor, a egestas arcu consectetur.
      Sed faucibus ut elit pretium accumsan. Curabitur a nulla elementum, malesuada augue quis, tempus sapien.
      Fusce luctus gravida neque sit amet dapibus. Nulla a tellus ex. Vestibulum hendrerit aliquam nulla, eget
      fringilla sem sollicitudin ut.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LOREM</button>
    <button mat-button>IPSUM</button>
  </mat-card-actions>
</mat-card>

