<div class="container">
    <div class="row justify-content-end">
            <mat-slide-toggle (change)="onEditModeChanged($event)" labelPosition='before'>Edit mode</mat-slide-toggle>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-12">
                <app-personal-info></app-personal-info>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-12">
                <app-skill-chart></app-skill-chart>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Personal info">
                    <app-skills #personalInfoChild></app-skills>
                </mat-tab>
                <mat-tab label="Skills">
                    <app-skills #skillsChild></app-skills>
                </mat-tab>
                <mat-tab label="Projects">
                    <app-skills #projectsChild></app-skills>
                </mat-tab>
            </mat-tab-group>
        </div>

    </div>
</div>