<div *ngIf="isSupervisor">
  <mat-tab-group>
    <mat-tab label="Account Registration">
      <ng-template matTabContent>
        <app-registration-requests-table></app-registration-requests-table>
      </ng-template>
    </mat-tab>
    <mat-tab label="Profile Edits">
      <ng-template matTabContent>
        <app-profile-edits-table></app-profile-edits-table>
      </ng-template>
    </mat-tab>
    <mat-tab label="View All Employees">
      <ng-template matTabContent>
        <app-supervised-employees-table></app-supervised-employees-table>
      </ng-template>
    </mat-tab>
    <mat-tab label="Blocked Useres">
      <ng-template matTabContent>
        <app-blocked-users-table></app-blocked-users-table>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>


<div id="content-area">
  <router-outlet>

  </router-outlet>
</div>